doctype html
html(lang='en')
	head
		title Dragon Drop
		link(rel="stylesheet" href="styles.css")
		link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata")
	body
		h1 Dragon Drop
		p#dragon-assistant Activate the reorder button and use the arrow keys to reorder the list.
		ul.dragon-drop
			li
				button(
					type='button'
					class='dragon ion ion-ios-drag'
					id='button-1'
					aria-labelledby='button-1 item-1'
					aria-describedby="dragon-assistant"
				)
					.offscreen Reorder
				span#item-1 Item 1
			li
				button(
					type='button'
					class='dragon ion ion-ios-drag'
					id='button-2'
					aria-labelledby='button-2 item-2'
					aria-describedby="dragon-assistant"
				)
					.offscreen Reorder
				span#item-2 Item 2
			li
				button(
					type='button'
					class='dragon ion ion-ios-drag'
					id='button-3'
					aria-labelledby='button-3 item-3'
					aria-describedby="dragon-assistant"
				)
					.offscreen Reorder
				span#item-3 Item 3
			li
				button(
					type='button'
					class='dragon ion ion-ios-drag'
					id='button-4'
					aria-labelledby='button-4 item-4'
					aria-describedby="dragon-assistant"
				)
					.offscreen Reorder
				span#item-4 Item 4
			li
				button(
					type='button'
					class='dragon ion ion-ios-drag'
					id='button-5'
					aria-labelledby='button-5 item-5'
					aria-describedby="dragon-assistant"
				)
					.offscreen Reorder
				span#item-5 Item 5
			li
				button(
					type='button'
					class='dragon ion ion-ios-drag'
					id='button-6'
					aria-labelledby='button-6 item-6'
					aria-describedby="dragon-assistant"
				)
					.offscreen Reorder
				span#item-6 Item 6
			li
				button(
					type='button'
					class='dragon ion ion-ios-drag'
					id='button-7'
					aria-labelledby='button-7 item-7'
					aria-describedby="dragon-assistant"
				)
					.offscreen Reorder
				span#item-7 Item 7
		#pa-system.offscreen(
			role='log'
			aria-live='polite'
			aria-relevant='additions'
			aria-atomic='false'
		)
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.js')
		script(src='../bower_components/html.sortable/html.sortable.js')
		script(src='../dragon-drop.js')
		script.
			$('.dragon-drop').dragonDrop({
				inactiveClass: 'dragon-target',
				onChange: function () {
					console.log('onChange has been called!');
				},
				announcement: {
					textSelector: 'span',
					grab: '$1 grabbed.',
			      	drop: '$1 dropped.',
					reorder: 'The list has been reordered. $1 is now item $2 of $3'
				}
			});